#projects,
#challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 80%;
  margin: 2.5rem auto 5rem auto;
}

.silderImage {
  width: 100%;
}

.slick-next::before,
.slick-prev::before {
  color: var(--color-green);
}

.project-container {
  position: relative;
  overflow: hidden;
}

.project-container img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-container:hover .overlay {
  opacity: 1;
}

.overlay p {
  margin: 0.5rem 0;
  text-align: center;
  width: 80%;
  text-align: justify;
}

.overlay a img {
  width: 2.5rem;
  margin-top: 0.5rem;
}
