@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&display=swap");


:root {
  font-family: "Lato", Arial, sans-serif;
  --title-font: "Lexend", Arial;

  color: #36333d;
  --dark-subtitle-color: #858389;
  --light-link-color: #e6d78e;

  --color-green: #6ca18d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}